############################################################################
#                                                                          #
#   Sample input file for ultrasoft real-space code.                       #
#   All items after a # are treated as comments.                           #
#   New tag format, tags may be in any order in input file.                #
#   Unless stated otherwise, atomic units are used                         #
#                                                                          #
############################################################################

# Description of run. Default: "QMD run"
description="Sample MD calculation"

# Spin polarized calculation flag. Default: "True"
spin_polarization=
"false"
#"true" 

# For spin polarized and random start using the following option to set equal or not equal 
#	 initialization of up and down density. Default: "False"
equal_initial_density=
"false"
#"true"


occupations_type=
"Fixed"  #i.e. use occupations as specified elswhere in this file
#"Fermi Dirac"
#"Gaussian"
#"Error Function" 

# Occupation for states, 
# Format: Number of states with certain occupancy followed by the occupancy
#         repeat for all occupancies

# For spin pairwised calculation using the following line to set the fixed occupations for states
#states_count_and_occupation="6 2.0  4 0.0"  


# For spin polarized calculation using the following line to set the fixed occupations 
#states_count_and_occupation_spin_up="3 1.0  4 0.0"      # specified occupations for spin up
#states_count_and_occupation_spin_down="3 1.0  4 0.0 "   # specified occupations for spin down 


# If states_count_and_occupation is not given  
# states and their occupations can be specified using the 
# following two optional options:
# Number of unoccupied states, default 10 
unoccupied_states_per_kpoint="4"
# Charge of the system in number of holes, default 0
system_charge="0"

# Orbital occupation parameters, used when occupation is not "Fixed"
# Default: "0.04"
occupation_electron_temperature_eV="0.04"
# Default: "0.3"
occupation_number_mixing="0.3"


# K-point vector and weight, repeat for each k-point
kpoints=
"
	0.0  0.0  0.0 1.0
"

# Units for bravais_lattice_type and atoms
# Optional option, default "Bohr"
crds_units=
"Bohr"
#"Angstrom"

bravais_lattice_type=
"Cubic Primitive"
#"Cubic Face Centered"
#"Cubic Body Centered"
#"Hexagonal Primitive"
#"Hexagonal Rhombohedral (Trigonal)"
#"Tetragonal Primitive"
#"Tetragonal Body Centered"
#"Orthorhombic Primitive"
#"Orthorhombic Base Centered"
#"Orthorhombic Body Centered"
#"Orthorhombic Face Centered"
#"Monoclinic Primitive"
#"Monoclinic Base Centered"
#"Triclinic Primitive"

# Lattice constants in (x, y, z) directions
# a, b, c, cos(alpha), cos(beta), cos(gamma)
a_length="23.488"
b_length="23.488"
c_length="23.488"
alpha="0.0"
beta="0.0"
gamma="0.0"

# Whether ionic coordinates are absolute, or relative to the cell
# Default:"Absolute"
atomic_coordinate_type=
"Absolute"
#"Cell Relative"

# List  atomic symbol, coordinates, and movable flag (1 == movable) 
# symbol and coordinates are required, moveable is optional, default is 1
atoms="
	O 6.23  19.81  12.45 1
	H 6.36  20.63  14.12 1
	H 7.97  19.81  11.75 1
"

# List of constraints per atom.
# 3-vector (internally normalized), constriant_type (0=disabled, 1=in-plane, 2=along vector).
# NOTE: must match atoms list line for line.
#atom_constraints="
#	1.00	0.00	1.00 0
#	1.00	0.00	1.00 0
#	1.00	0.00	1.00 0
#"

# Atoms can also be specified in PDB format
# if both pdb_atoms and atoms tags are used PDB information is read from
# pdb_atoms and coordintaes are taken form atoms. Species information have to 
# match in both inputs.  
pdb_atoms = "
ATOM      1  O                  10.324   4.887  11.264  0.00  0.00           O
ATOM      2  H                  10.130   5.117  12.192  0.00  0.00           H
ATOM      3  H                   9.504   4.468  10.938  0.00  0.00           H
"


# Pseudopotential file for each species, if not specified, 
# species symbol with .pp extension is assumed (H.pp or O.pp) 
pseudopotential="
H   pseudo.h
O   pseudo.o
"

# Determine if we should print out US files (projectors, etc)
# Defaults to: false
write_pseudopotential_plots="false"



# Default: "Random Start".
start_mode=
"Random Start"
#"Restart From File"
#"LCAO Start" 

# Default: "Quench Electrons"
calculation_mode=
"Quench Electrons"
#"Relax Structure"
#"Constant Volume And Energy"
#"Constant Temperature And Energy"
#"Constant Pressure And Energy" #Not implemented yet
#"Band Structure Only"

#Method used for structural relaxation
relax_method=
"Fast Relax"  #Standard, well tested method that has been in use in RMG for a long time
#"FIRE"  #Fast Inertial Relaxation Engine, PRL 97, 170201 (2006).
#"LBGFS" #Limited-memory Broyden-Fletcher-Goldfarb-Shanno

# Default: "LDA"
exchange_correlation_type=
"LDA"        #Perdew and Zunger, PRB 23, 5048 (1981).
#"GGA BLYP"  #Becke exchange - Becke, JCP 96, 2155,
             #Lee Yang Parr correlation - Lee et al. Phys Rev B 37 785 (1988).
#"GGA XB CP" #Becke exchange - Becke, JCP 96, 2155 (1992)., Perdew correlation 
#"GGA PBE"  #Perdew-Burke-Ernzerhof GGA XC functional - Perdew et al, PRL 77, 3865 (1996).

# Criterion based on RMS difference of potential between two SCF steps
# used to judge SCF convergency 
# Default: "1.0E-7"
rms_convergence_criterion="1e-7"

# Type of mixing for charge density
# Linear (steepest descent) or Pulay
# Default: Linear
charge_mixing_type=
"Linear"
#"Pulay"

# Amount of charge density mixing when linear mixing is used
# Default: "0.5"
charge_density_mixing="0.5"

# Order of Pulay for charge density mixing
# Default: "5"
charge_pulay_order="5"

# How often to refresh Pulay mixing
# It is often beneficial to scrap Pulay history and start over,
# with this parameter it can be done periodically every few steps
# Set it to zero to never refresh
# Default: 0
charge_pulay_refresh="0"

# Scale parameter for residual in Pulay charge density mixing
# Reasonable values are around 0.5
# Default: 0.5
charge_pulay_scale="0.5"

# Whether or not to use special metrics for calculating dot products in Pulay mixing
# This should presumably help convergence for systems with many states close to Fermi level
# Reference: J Enkovaara et al 2010 J. Phys.: Condens. Matter 22 253202
# Default: "false"
charge_pulay_special_metrics=
"false"
#"true"

# Weight for the Pulay special metrics
# Default: "100.0"
# 50 may also be tried, if default does not work
charge_pulay_special_metrics_weight="100"

# Default: "0.5"
projector_mixing="0.5"
    
# Whether to use mask mask function for filtering PPs
# More info in JCP 124, 174102 (2006)
mask_function_filtering="false"
  

# Default: "250"
max_scf_steps="5"

# Do subspace diagonalization every (given number) of steps
# Default: "10"
period_of_diagonalization="10"

# After this many SCF steps, stop diagonalizing
# Default: "100"
end_diagonalization_step="100"

# Interpolation used between coarse wave function grid and fine charge density grid
# Using B-spline is recommended.
# Default: "Cubic Polynomial"
interpolation_type=
"Cubic Polynomial"
#"B-spline"

# B-spline order (<= 8)
# Default: "5"
b_spline_order="5"

# Level of trade_image for B-spline
# Default: "3"
b_spline_trade_order="3"

# Sort wavefunctions by eigenvalue or not
# Default: "true"
sort_wavefunctions="true"

# Fine grid for non-local pseudopotential
# How many times finer the double grid around the ions is
# Default: "4"
fine_grid_non_local_pp="4"

# Input file name to get initial wavefunctions from. Default: "wave.out"
input_wave_function_file="Wave-soft/wave.out"

# output file name to write wavefunctions to. Default: "wave.out"
#   use /dev/null if you not want the output 
output_wave_function_file="Wave-soft/wave.out"


# Maximum Number of sweeps in get_vh
# Default: "100"
hartree_max_sweeps="100"

# Minimum Number of sweeps in get_vh
# Default: "5"
hartree_min_sweeps="5"

# Ratio between target RMS for get_vh and RMS total potential
# This determines target RMS passed to get_vh, which becomes:  total potential RMS/ hartree_rms_ratio
# Default: "50.0"
hartree_rms_ratio="50.0"


######################################################################## 
# Specialty options: These options are often customized, but they only #
# make sense in special situations, i.e. when running MD or Fast Relax #
######################################################################## 


# Ionic timestep in atomic units
# Default: "50"
ionic_time_step="50"


# Whether or not to use dynamic timestep in relax mode
# Default: "false"
relax_dynamic_timestep="false"

#Whether to write pdos at convergence
# Default: "false"
write_pdos="false"

#Emin="-5"
#Emax="-1"
#E_POINTS="11"

# Force criterion used for structural relaxation - 
# when all forces are below given value, relaxation will be stopped
# Default: "2.5E-3"
relax_max_force="0.0025"

# Number of MD steps (if running MD) or max number of steps when doing structural relaxation
# Default: "100"
max_md_steps="100"

# Number of rmg "restart like" (NEB/exchange/ARTs) steps to perform */
# Default: "1"
max_rmg_steps="1"

# MD options

# Default: "300"
md_temperature="300"

#  Default: "Nose Hoover Chains"
md_temperature_control=
"Nose Hoover Chains"
#"Anderson Rescaling"

# Default: "5"
md_number_of_nose_thermostats="5"

# Nose Frequency of the system in THz
# Default: "15.59"
md_nose_oscillation_frequency_THz="15.59"

# Whether to assign ions initial velocities at the start of MD simulation
# this should be "true", unless doing a restart of MD simulation
# Default: "true" if new run
# Defualt "false" if restarting
md_randomize_velocity=
"true" 
#"false"

# Default: "2nd Velocity Verlet"
md_integration_order=
"2nd Velocity Verlet"
#"3rd Beeman-Velocity Verlet"
#"5th Beeman-Velocity Verlet"

# Number of MD steps after which wave functions 
# and other info are saved into the output file
# Default: "5"
# Value of 0 means that no restart file will not be written
write_data_period="5"


# Restart control

# Setup the communicator topology for a multi-grid run. For details 
# on possibilities, see MPI_Cart_create documentation.
# This is a 2 column integer list of the following form
# dimension size <space> periodic (1 = yes, 0 = no)
# Defaults to 1D non-periodic of grid count size,
# example is 3x4 cylindrical
#image_communicator_topology = "
#    3   1
#    4   0
#"


##################### 
# All other options #
#####################


# Energy cutoff parameter used for Fourier pseudopontential filtering
# This number is used to determine the largest G-vector used in the filtering
# Default: 1.75
energy_cutoff_parameter="1.75"

# Mehrstellen pre/post smoothings counts, timesteps for Kohn-Sham and Poisson equations
# First three are for Kohn-Sham equations, the other three for Poisson eq.
# Note: for small systems it may be better to use 1.0 as "mehrstellen_time_step"
# and 1.35 for "poisson_time_step"
# Default values: 2 1 0.3 2 1 0.5
kohn_sham_pre_smoothing="2"
kohn_sham_post_smoothing="1"
kohn_sham_time_step="0.3"
kohn_sham_fd_order="6"
poisson_pre_smoothing="2"
poisson_post_smoothing="1"
poisson_finest_time_step="0.5"
poisson_coarse_time_step="0.5"
poisson_coarsest_steps="50"

# Number of Mu-cycles for multigrid  Kohn-Sham and Poisson solvers
# Default is 1 (V-cycle), 2 gives a W cycle
kohn_sham_mucycles="1"
poisson_mucycles="1"

# Multigrid levels for solving K-S and Poisson equations
# 0 = global grid only
# Defaults: 1 2
kohn_sham_mg_levels="1"
poisson_mg_levels="2"

# Default: "Periodic".
# Note that "Cluster" or "Surface" are not fully implemented. 
boundary_condition_type=
"Periodic"
#"Cluster"
#"Surface"


# Number of SCF steps between writeout of eigenvalues
# Default: "5"
write_eigvals_period="5"


# Whether to do subspace diagonalization before starting calculation
# Default: "false"
initial_diagnolization=
"false"
#"true"
# Default: "0.0 0.0 1.0"
electric_field_vector="0.0 0.0 1.0"

# Default: "0.0"
electric_field_magnitude="0.0"

# Whether to write full memory usage report at the end of calculation
# Default: "false"
write_memory_report="false"

# Default: "false"
milliken_population=
"false"
#"true"

# Whether or not to dump a z-average of the orbitals, charge density or potential
# Default: "None"
z_average_output_mode=
"None"
#"potential and charge density"
#"wave functions"

# Whether the actual ionic masses or equal masses for all ions (set to that of carbon)
# should be used for fastrelax. The ionic masses appear to work better and are better tested. 
# Default: "Atomic"
relax_mass=
"Atomic"
#"Equal"

# Whether to use norm_conserving PP
# Default: "false"
norm_conserving_pp="false"

# Blocking factor for scalapack
# Default: "32"
scalapack_block_factor="32"
